.c-blue {
    height: 250px;
    width: 250px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.c-black {
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.c-beige {
    height: 250px;
    width: 250px;
    background-color: beige;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #CCC;
}

.c-brown {
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
}

.c-grey {
    height: 250px;
    width: 250px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.c-green {
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.c-magenta {
    height: 250px;
    width: 250px;
    background-color: magenta;
    border-radius: 50%;
    display: inline-block;
}

.c-olive {
    height: 250px;
    width: 250px;
    background-color: olive;
    border-radius: 50%;
    display: inline-block;
}

.c-orange {
    height: 250px;
    width: 250px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.c-pink {
    height: 250px;
    width: 250px;
    background-color: #FF69B4;
    border-radius: 50%;
    display: inline-block;
}

.c-purple {
    height: 250px;
    width: 250px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
}

.c-red {
    height: 250px;
    width: 250px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.c-ultramarine {
    height: 250px;
    width: 250px;
    background-color: #120A8F;
    border-radius: 50%;
    display: inline-block;
}

.c-violet {
    height: 250px;
    width: 250px;
    background-color: violet;
    border-radius: 50%;
    display: inline-block;
}

.c-white {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #CCC;
}

.c-yellow {
    height: 250px;
    width: 250px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}



