body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
a {text-decoration: none;}
.nube-izqda{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px;
    background-color: lightgray;
}
.nube-drcha{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 6px;
    background-color: lightslategray;
    color: aliceblue;
}
.azul{
    background: #213b6a;
    color: white;
}
.amarillo{
    background: #fa9b29;
    color: black;
}
.text-azul{
    color: #213b6a;
}
.text-amarillo{
    color: #fa9b29;
}
.sombra-inv{
    box-shadow: -2px 0 10px 0 rgba(0,0,0,0.12), -2px 0 5px 0 rgba(0,0,0,0.16);
}
.traduc{
    font-size: small;
    color: gray;
}
.margin1{
    margin-top: 20px;
}
.vertical {
    line-height: 42px;
}
.cu{cursor: pointer;}
.p{
    padding: 11px 20px 11px 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

